<!DOCTYPE HTML>
<html>
	<head>
		<title>辣椒面儿</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename = 'main/js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename = 'main/js/init.js')}}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ url_for('static', filename = 'main/css/skel.css')}}" />
			<link rel="stylesheet" href="{{ url_for('static', filename = 'main/css/style.css')}}" />
			<link rel="stylesheet" href="{{ url_for('static', filename = 'main/css/style-wide.css')}}" />
			<link rel="stylesheet" href="{{ url_for('static', filename = 'main/css/style-noscript.css')}}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename = 'main/css/ie/v9.css')}}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename = 'main/css/ie/v8.css')}}" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Science VS. Romance</h1>

						<p>技术 设计 生活 和 扯犊子</p>
						<nav>
							<ul>
								<li><a href="http://jasonlyuhit.github.io/arch.html" class="fa fa-bookmark" title="Blog"><span>Blog</span></a></li>
								<li><a href="http://www.douban.com/people/JasonLvpy/" class="fa fa-circle-o" title="豆瓣"><span>豆瓣</span></a></li>
								<li><a href="http://github.com/jasonlvhit" class="fa fa-github" title="Github"><span>Github</span></a></li>
								<li><a href="mailto:jasonlvhit@gmail.com" class="fa fa-envelope-o" title="email"><span>Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; 辣椒面儿/Jason Lyu 2014 tata...</span>
					</footer>
				
			</div>
		</div>
	</body>
</html>
